rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    function isUserAuthenticated() {
        return request.auth != null;
    }
    
    function isOwner(resource) {
        return request.auth.uid == resource.data.userId;
    }

    match /users/{userId} {
      allow read;
      allow write: if request.auth.uid == userId;
    }

    match /posts/{postId} {
      allow read: if isUserAuthenticated();
      allow create, update, delete: if isOwner(request.resource);
        
      match /comments/{commentId} {
        allow read: if isUserAuthenticated();
        allow create: if isUserAuthenticated();
      }
    }

    match /events/{eventId} {
      allow read: if isUserAuthenticated();
      allow create: if isOwner(request.resource);
      allow delete: if isOwner(resource);
    }
    
    match /farmPlots/{plotId} {
        allow read, write, delete: if isOwner(resource);
        allow create: if isOwner(request.resource);
    }
    
    match /harvests/{harvestId} {
        allow read, write, delete: if isOwner(resource);
        allow create: if isOwner(request.resource);
        
        match /harvestPlots/{plotId} {
            allow read, delete: if isOwner(resource);
            allow create: if isOwner(request.resource);

            match /operations/{opId} {
                 allow read, write, delete: if isOwner(resource);
                 allow create: if isOwner(request.resource);
            }
        }
    }
    
    match /items/{itemId} {
        allow read, write, delete: if isOwner(resource);
        allow create: if isOwner(request.resource);
    }
    
    match /inventoryLogs/{logId} {
        allow read: if isOwner(resource);
        allow create: if isOwner(request.resource);
    }
    
    match /machinery/{machineId} {
        allow read, write, delete: if isOwner(resource);
        allow create: if isOwner(request.resource);

        match /maintenances/{maintenanceId} {
            allow read, write, delete: if isOwner(resource);
            allow create: if isOwner(request.resource);
        }
    }
    
    match /livestockLots/{lotId} {
        allow read, write, delete: if isOwner(resource);
        allow create: if isOwner(request.resource);
    }

    match /listings/{listingId} {
      allow read: if isUserAuthenticated();
      allow create: if isOwner(request.resource);
      allow update, delete: if isOwner(resource);
    }

    match /forumTopics/{topicId} {
        allow read: if isUserAuthenticated();
        allow create: if isOwner(request.resource);
        allow update: if isOwner(resource); // For updating replyCount
        allow delete: if isOwner(resource);

        match /replies/{replyId} {
            allow read: if isUserAuthenticated();
            allow create: if isUserAuthenticated();
        }
    }

    match /chats/{chatId}/messages/{messageId} {
      allow read, create: if isUserAuthenticated() && chatId.split('_').includes(request.auth.uid);
    }
  }
}